## Pandas Python Library for Beginners in Data Science
Instructor: Vinita Silaparasetty

#### Import Libraries

In [2]:
import pandas as pd
import numpy as np

                                            Creating a Series

# <img src="https://github.com/VinitaSilaparasetty/Coursera-Pandas-for-Beginners/blob/master/Media/series.png?raw=true" width="600" height="600">

# Method 1: Using an Array

In [6]:
s = ([1,np.nan, ' Pandas Library '])
s1 = pd.Series (s)
s1

0                   1
1                 NaN
2     Pandas Library
dtype: object

##### Challenge : Create a Pandas Series, named s2, containing the following:

* Integer = 2

* Nan value

* Character = b

In [7]:
s2 = np.array([2,np.nan, 'b'])
s2 = pd.Series(s2)
s2

0      2
1    nan
2      b
dtype: object

# Method 2: Using a List

In [9]:
list1=['animal','2','animal']
s3 = pd.Series(list1)
s3

0    animal
1         2
2    animal
dtype: object

##### Challenge : Create a Pandas Series, named s4

Use a list, named list2, containing the following:

* Integer = 3

* Character = c

* String = Numpy 

Note:'N' Must be capital

In [10]:
list2= ['3','c','Numpy']
s4= pd.Series(list2)
s4

0        3
1        c
2    Numpy
dtype: object

### <center> Method 3: Using a Dictionary

In [12]:
s5 = pd.Series(
  {'A' : '1',
   '3': 'Python',
  })
s5

A         1
3    Python
dtype: object

##### Challenge : Create a data frame, named df1, which contains:

Create a Pandas Series, named s6, containing the following:

    'Integer' = 3
    'B' = Boys

In [13]:
s6= pd.Series(
  {'Integer': 3,
   'B': 'Boys',
  })
s6

Integer       3
B          Boys
dtype: object

# Creating Data Frames

### <center>Method 1: Passing a Numpy Array

In [15]:
df=pd.DataFrame(np.random.randn(6,4))
df

          0         1         2         3
0 -0.772149  0.407904 -1.360777  1.100184
1 -2.345870  0.334343 -1.194574 -0.682693
2  1.865611 -0.952858 -0.094698 -0.921033
3 -1.028858  2.170795 -1.805322 -1.467606
4 -0.731325 -1.408329  0.280459  0.093639
5 -1.214303  0.591458 -0.687962 -2.802104

##### Challenge :Create a data frame, named df1, which contains:


    A randomly generated array with the dimensions 3x3.

In [16]:
df1=pd.DataFrame(np.random.randn(3,3))
df

          0         1         2
0  1.230947  0.785305  1.290937
1  0.019427 -1.729527  1.431218
2 -1.111999  0.522093  2.707745

### <center>Method 2: Passing a Dictionary of Objects

In [17]:
df2 = pd.DataFrame({
    'A':1,
    'number':np.array([6]*3,dtype='int32')
})
df2

   A  number
0  1       6
1  1       6
2  1       6

##### Challenge : Create a data frame, named df3, which contains:

    'E' = np.array([4] * 5,dtype='int32')

    'Day' = 2


* Terimler:

add an asterix = * ekle 

open a bracket = () ac

In [20]:
df3 = pd.DataFrame({
    'E':np.array([4]*5,dtype='int32'),
    'Day':2,
})
df3

   E  Day
0  4    2
1  4    2
2  4    2
3  4    2
4  4    2

 Importing Files
Import .csv files

Use the file path: /home/rhyme/Desktop/Project/

(Note: If you want to use this command for a file on your own system, be sure to use the correct file path.)

In [23]:
df4 = pd.read_csv('/home/rhyme/Desktop/Project/practicedata.csv')
df4.head(3)

FileNotFoundError: [Errno 2] File b'/home/rhyme/Desktop/Project/practicedata.csv' does not exist: b'/home/rhyme/Desktop/Project/practicedata.csv'

##### Challenge : Import the file practicedata.json in the dataframe df5.

Use the file path: /home/rhyme/Desktop/Project/

In [24]:
df5=pd.read_json('/home/rhyme/Desktop/Project/practicedata')
df5.head(3)

ValueError: Expected object or value

#### Importing Files from a url

Import data from this github repo: https://raw.githubusercontent.com/VinitaSilaparasetty/Coursera-Pandas-for-Beginners/master/practicedata.csv")

In [25]:
df6=pd.read_csv('https://raw.githubusercontent.com/VinitaSilaparasetty/Coursera-Pandas-for-Beginners/master/practicedata.csv')
df6.head(3)

          A         B         C         D
0       NaN -1.604969 -0.106263 -1.002924
1 -0.404667  0.458565 -1.174912       NaN
2  0.440231  1.713480  0.162473 -1.632132

##### Challenge : Create the data frame df7.

Then import data from this github repo: https://raw.githubusercontent.com/VinitaSilaparasetty/Coursera-Pandas-for-Beginners/master/practicedata.json

In [26]:
df7=pd.read_json('https://raw.githubusercontent.com/VinitaSilaparasetty/Coursera-Pandas-for-Beginners/master/practicedata.json')
df7.head(3)

          A         B         C         D
0       NaN -1.604969 -0.106263 -1.002924
1 -0.404667  0.458565 -1.174912       NaN
2  0.440231  1.713480  0.162473 -1.632132

In [27]:
#Export the data and rename 

df4.to_csv('/home/rhyme/Desktop/Project/practicedata2.csv')

NameError: name 'df4' is not defined

##### Challenge : Export the data from df4 to 'practicedata2.json'

Use the file path:/home/rhyme/Desktop/Project/

In [28]:
df4.to_json('/home/rhyme/Desktop/Project/practicedata2.json')

NameError: name 'df4' is not defined

### Data Summary

We will be working with data frame df6 for this section.

In [32]:
df6=pd.read_csv("https://raw.githubusercontent.com/VinitaSilaparasetty/Coursera-Pandas-for-Beginners/master/practicedata.csv")
df6

          A         B         C         D
0       NaN -1.604969 -0.106263 -1.002924
1 -0.404667  0.458565 -1.174912       NaN
2  0.440231  1.713480  0.162473 -1.632132
3  0.081050  0.639851  0.844037  1.463154
4 -1.013616 -0.224553  1.786915  1.041241
5 -1.013616 -0.224553  1.786915  1.041241
6 -0.488965  0.946528  0.829525 -0.529912
7 -0.488965  0.946528  0.829525 -0.529912

### Quick Summary of Data

In [33]:
df6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
A    7 non-null float64
B    8 non-null float64
C    8 non-null float64
D    7 non-null float64
dtypes: float64(4)
memory usage: 336.0 bytes

### Detailed Summary of Data

In [34]:
df6.describe()

              A         B         C         D
count  7.000000  8.000000  8.000000  7.000000
mean  -0.412650  0.331360  0.619777 -0.021321
std    0.533101  1.010369  0.987050  1.192849
min   -1.013616 -1.604969 -1.174912 -1.632132
25%   -0.751291 -0.224553  0.095289 -0.766418
50%   -0.488965  0.549208  0.829525 -0.529912
75%   -0.161808  0.946528  1.079757  1.041241
max    0.440231  1.713480  1.786915  1.463154

### View Columns

In [35]:
df6.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

##### Challenge : View the columns in df7.

In [36]:
#first run this cell to create the data frame df7
df7 = pd.read_json("https://raw.githubusercontent.com/VinitaSilaparasetty/Coursera-Pandas-for-Beginners/master/practicedata.json")
df7

          A         B         C         D
0       NaN -1.604969 -0.106263 -1.002924
1 -0.404667  0.458565 -1.174912       NaN
2  0.440231  1.713480  0.162473 -1.632132
3  0.081050  0.639851  0.844037  1.463154
4 -1.013616 -0.224553  1.786915  1.041241
5 -1.013616 -0.224553  1.786915  1.041241
6 -0.488965  0.946528  0.829525 -0.529912
7 -0.488965  0.946528  0.829525 -0.529912

In [37]:
df7.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

### View Datatypes

In [38]:
df6.dtypes

A    float64
B    float64
C    float64
D    float64
dtype: object

##### Challenge : View the datatypes in df7

In [39]:
df7.dtypes

A    float64
B    float64
C    float64
D    float64
dtype: object

### Handling Duplicates
#### Detect Duplicate Rows

In [40]:
df6.duplicated()

0    False
1    False
2    False
3    False
4    False
5     True
6    False
7     True
dtype: bool

#### Drop Duplicate Rows

In [41]:
df6.drop_duplicates()

          A         B         C         D
0       NaN -1.604969 -0.106263 -1.002924
1 -0.404667  0.458565 -1.174912       NaN
2  0.440231  1.713480  0.162473 -1.632132
3  0.081050  0.639851  0.844037  1.463154
4 -1.013616 -0.224553  1.786915  1.041241
6 -0.488965  0.946528  0.829525 -0.529912

##### Challenge : Detect and drop duplicates in df7

In [43]:
#Detect duplicates
df7.duplicated()

0    False
1    False
2    False
3    False
4    False
5     True
6    False
7     True
dtype: bool

In [44]:
#Detect duplicates
df7.drop_duplicates()

          A         B         C         D
0       NaN -1.604969 -0.106263 -1.002924
1 -0.404667  0.458565 -1.174912       NaN
2  0.440231  1.713480  0.162473 -1.632132
3  0.081050  0.639851  0.844037  1.463154
4 -1.013616 -0.224553  1.786915  1.041241
6 -0.488965  0.946528  0.829525 -0.529912

### Handling Missing Values
#### Detect Missing Values

In [45]:
print(df6.isnull().sum())

A    1
B    0
C    0
D    1
dtype: int64

#### Drop Missing Values

In [46]:
df6.dropna()

          A         B         C         D
2  0.440231  1.713480  0.162473 -1.632132
3  0.081050  0.639851  0.844037  1.463154
4 -1.013616 -0.224553  1.786915  1.041241
5 -1.013616 -0.224553  1.786915  1.041241
6 -0.488965  0.946528  0.829525 -0.529912
7 -0.488965  0.946528  0.829525 -0.529912

##### Challenge : Detect and drop missing values in df7

In [48]:
#Detect missing values
print(df7.isnull().sum())

A    1
B    0
C    0
D    1
dtype: int64

In [49]:
#Drop missing values
df7.dropna()

          A         B         C         D
2  0.440231  1.713480  0.162473 -1.632132
3  0.081050  0.639851  0.844037  1.463154
4 -1.013616 -0.224553  1.786915  1.041241
5 -1.013616 -0.224553  1.786915  1.041241
6 -0.488965  0.946528  0.829525 -0.529912
7 -0.488965  0.946528  0.829525 -0.529912

### Numeric Operations

We will work with the data frame df8.

In [54]:
#first run this cell to create the dataframe dt8
df8=pd.DataFrame(np.random.randn(6,4))
df8

          0         1         2         3
0 -0.634194  0.329789  0.522497 -1.107413
1  0.398940  1.439098 -1.454389  0.549602
2  1.569234 -1.014448 -0.342634  0.607110
3  1.568505 -0.591819  1.472768  0.317591
4  0.101211  0.553731 -0.935325 -0.406895
5  0.184402  0.369099  1.397700  0.750400

Calculate the Mean:

In [55]:
df8.mean()

0    0.531350
1    0.180908
2    0.110103
3    0.118399
dtype: float64

##### Challenge : Calculate the mean of df9

In [58]:
df9=pd.DataFrame(np.random.randn(3,4))
df9

          0         1         2         3
0  0.136233  0.560447 -0.583488 -1.907932
1  0.847749  1.747909  1.554549 -1.044230
2  0.132741 -0.346891 -1.685402 -0.546728

Calculate the Cumulative Sum:

In [59]:
df8.apply(np.cumsum)

          0         1         2         3
0 -0.634194  0.329789  0.522497 -1.107413
1 -0.235254  1.768887 -0.931893 -0.557811
2  1.333980  0.754439 -1.274527  0.049299
3  2.902485  0.162620  0.198242  0.366890
4  3.003696  0.716351 -0.737083 -0.040004
5  3.188098  1.085449  0.660617  0.710396

##### Challenge : Calculate the cumulative sum of df9

In [60]:
df9.apply(np.cumsum)

          0         1         2         3
0  0.136233  0.560447 -0.583488 -1.907932
1  0.983982  2.308356  0.971062 -2.952161
2  1.116723  1.961465 -0.714340 -3.498889

Find the Maximum Value:

In [61]:
df8.max()

0    1.569234
1    1.439098
2    1.472768
3    0.750400
dtype: float64

##### Challenge : Find the maximum value of df9

In [62]:
df9.max()

0    0.847749
1    1.747909
2    1.554549
3   -0.546728
dtype: float64

Find the Minimum Value:

In [63]:
df8.min()

0   -0.634194
1   -1.014448
2   -1.454389
3   -1.107413
dtype: float64

##### Challenge : Find the minimum value of df9

In [64]:
df9.min()

0    0.132741
1   -0.346891
2   -1.685402
3   -1.907932
dtype: float64

### String Manipulation

We will work with the series s7 for this section.

In [65]:
#first run this cell to create series s7
s7=np.array(['animal','bird','Pandas Library  '])
s7=pd.Series(s7)
s7

0              animal
1                bird
2    Pandas Library
dtype: object

#### Convert to Lower Case

In [66]:
s7.str.lower()

0              animal
1                bird
2    pandas library
dtype: object

##### Challenge : Convert the strings in s8 to lower case.

In [90]:
s8 = np.as8 = np.array(['cat','dog','Python Programming  '])
s8 = pd.Series(s8)
s8

0                     cat
1                     dog
2    Python Programming
dtype: object

In [70]:
s8.str.lower()

0                     cat
1                     dog
2    python programming
dtype: object

#### Convert to Upper Case

In [71]:
s7.str.lower()

0              animal
1                bird
2    pandas library
dtype: object

##### Challenge: Convert the strings in s8 to upper case.

In [72]:
s8.str.upper()

0                     CAT
1                     DOG
2    PYTHON PROGRAMMING
dtype: object

#### Swap Capitalization

In [73]:
s7.str.swapcase()

0              ANIMAL
1                BIRD
2    pANDAS lIBRARY
dtype: object

##### Challenge : Swap the capitalization of the strings in s8.

In [74]:
s8.str.swapcase()

0                     CAT
1                     DOG
2    pYTHON pROGRAMMING
dtype: object

#### Find Length of String
* 'Str.len ()' işlevi beyaz boşlukları da sayar

In [75]:
s7.str.len()

0     6
1     4
2    16
dtype: int64

##### Challenge : Find the length of the strings in s8.

In [76]:
s8.str.len()

0     3
1     3
2    20
dtype: int64

#### Split String

In [77]:
s7.str.split()

0             [animal]
1               [bird]
2    [Pandas, Library]
dtype: object

##### Challenge : Find the length of the strings in s8.

In [78]:
s8.str.split()

0                    [cat]
1                    [dog]
2    [Python, Programming]
dtype: object

#### Detect Unique Values

In [79]:
s7.unique()

array(['animal', 'bird', 'Pandas Library  '], dtype=object)

##### Challenge : Detect unique values in s8.

In [80]:
s8.unique()

array(['cat', 'dog', 'Python Programming  '], dtype=object)

#### Repeat

In [86]:
# liste degerini cogaltmak icin repeat tekrar modu kullanilabilir. Not:'str' yerine bosluk birakildiginda sütun olarak cogaltir s
#Öncelikle s7 yi tekrar cagiriyoruz
s7

0              animal
1                bird
2    Pandas Library
dtype: object

In [84]:
repeat_list=[2,3,2]
s7.str.repeat(repeat_list)

0                        animalanimal
1                        birdbirdbird
2    Pandas Library  Pandas Library
dtype: object

##### Challenge: Repeat the values in s8 in the order [1,2,3]

In [87]:
s8

0                     cat
1                     dog
2    Python Programming
dtype: object

In [89]:
repeat_list2 = [1,2,3]
s8.str.repeat(repeat_list)

0                                                  cat
1                                               dogdog
2    Python Programming  Python Programming  Python...
dtype: object